[Unit]
Description=Go program to run speed tests and report results
After=ssh.service

[Service]
User=root
Group=root
WorkingDirectory=/opt/speedsnitch

# Uncomment the following line if you want to do any logging to LogEntries
#Environment=LOGENTRIES_KEY=replace-this-with-a-real-one
ExecStart=/opt/speedsnitch/speedsnitch ADMIN_API_BASE_URL API_KEY
Type=simple
Restart=always
RestartSec=5

[Install]
WantedBy=default.target